---
http_interactions:
- request:
    method: get
    uri: https://api.pipelinedeals.com/api/v3/admin/deal_stages/727375.json?api_key=G5mZccexXgchNkAYOBlQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68abc29afdce92a768c4201abf60f80b"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1565887108'
    body:
      encoding: ASCII-8BIT
      string: '{"id":727375,"percent":0,"name":"Lost","created_at":"2016/04/11 12:59:21
        -0400","updated_at":"2016/04/11 12:59:21 -0400","deal_pipeline_id":201025}'
  recorded_at: Thu, 15 Aug 2019 16:38:27 GMT
recorded_with: VCR 5.0.0
