---
http_interactions:
- request:
    method: get
    uri: https://api.pipelinedeals.com/api/v3/admin/deal_stages.json?api_key=G5mZccexXgchNkAYOBlQ&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47ba13267a53c64ee80fa3c5f7cd59db"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1565889939'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"id":727375,"percent":0,"name":"Lost","created_at":"2016/04/11
        12:59:21 -0400","updated_at":"2016/04/11 12:59:21 -0400","deal_pipeline_id":201025},{"id":727378,"percent":10,"name":"Qualified","created_at":"2016/04/11
        12:59:21 -0400","updated_at":"2017/07/24 09:02:49 -0400","deal_pipeline_id":201025},{"id":727381,"percent":25,"name":"Request
        for Info","created_at":"2016/04/11 12:59:21 -0400","updated_at":"2017/07/24
        09:03:01 -0400","deal_pipeline_id":201025},{"id":727384,"percent":50,"name":"Presentation","created_at":"2016/04/11
        12:59:21 -0400","updated_at":"2017/07/24 09:03:01 -0400","deal_pipeline_id":201025},{"id":727387,"percent":75,"name":"Negotiation","created_at":"2016/04/11
        12:59:21 -0400","updated_at":"2017/07/24 09:02:49 -0400","deal_pipeline_id":201025}],"pagination":{"page":1,"page_var":"page","per_page":5,"pages":2,"total":6}}'
  recorded_at: Thu, 15 Aug 2019 17:25:38 GMT
recorded_with: VCR 5.0.0
